{% extends 'base.html' %}

{% block title %}Membros{% endblock %}

{% block conteudo %}
{% if user.is_authenticated %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Telefone</th>
      <th scope="col">Data Niver</th>
      <th scope="col">Líder Grupo</th>
      <th class="col">Dia do grupo</th>
      <th class="col">Hora do grupo</th>
      <th class="col">Ministérios</th>
    </tr>
  </thead>
  <tbody>
     {% for obj in objMembros %}
   
   <tr>
      <th scope="row">{{ obj.pk }}</th>
      <td>{{ obj.nome | upper }}</td>
      <td>{{ obj.telefone }}</td>
      <td>{{ obj.data_aniversario |date:'d-M-Y' }}</td>
      <td>{{ obj.grupo_membro.lider |truncatewords:1 }}</td>
      <td>{{ obj.grupo_membro.dia_semana }}</td>
      <td>{{ obj.grupo_membro.hora }}</td>
      
      <td>{%for min in obj.ministerios.all%}{{min.nome}}<br>{%endfor%}</td>
     
    </tr>

      {% endfor %}
  </tbody>
</table>
<a class="btn btn-primary" href="{% url 'criar_membro' %}" >Adicionar</a>
{% endif %}

{% endblock %}